<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.androidchat.client">
    <uses-permission android:name="android.permission.INTERNET" /> 

    <application android:icon="@drawable/icon" android:label="AndroidChat">

        <activity android:name=".ActivityAndroidChatMain" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ActivityChatChannel"></activity>      
        <activity android:name=".ChannelGrid"></activity>
        <activity android:name=".IRCPreferences"></activity>
        
        
        <service android:name=".ServiceIRCService" android:label="IRC Connectivity Service">

        </service>
         
    </application>
</manifest> 